<html><head><title>User Login</title></head>
<h1>Login Page</h1>
<form method="POST" >
    {{ form.csrf_token }}
    <p> {{ form.username.label }} {{ form.username }} </p>
    <p> {{ form.password.label }} {{ form.password }} </p>
    <p>{{ form.remember.label }} {{ form.remember }} </p>
    {{ form.logout }} </p>
    <input type="submit" value="Submit">
</form>

<p>Logout will remove ability to use token</p>
<form method="POST">
	{{ form2.csrf_token }}
	{{ form2.logout }}
</form>
</html>
