<html><head>
	<title>User User  Registration</title>
	</head>
<form method="POST" >
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username }}
    {{ form.password.label }} {{ form.password }}
    <input name="submit" type="submit" value="Submit">
</form>
<p>Registration does not log you in, it will return your user name. Go to /api/token to login</p>
<form method="POST">
	{{ form2.csrf_token }}
	{{ form2.logout }}
<p> logout will remove token access </p>
</form>
</html>
