<html><head><title>New User Registration</title></head>
<form method = "POST" action="/api/register">
  <p> Registration will not auto-log you in. go to /api/token to log in and out.</p>
  <p> {{ form.csrf_token }} </p>
  <p> {{ form.username.label }}: {{ form.username }} </p>
  <p> {{ form.password.label }}: {{ form.password }} </p>
  <input type="submit" value="register">
</form>
</html>
