<!--<form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="submit"></input>
</form>
-->


{% for item in items %}
  <h1> {{ item.opent }} </h1>
  <p> {{ item.closet }} <p>
{% endfor %}


